<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Create a Team and Heroes!</h1>

  <form method="POST" action="/teams">
    <label>Team Name:</label>
    <input name="team[name]" type="text"><br>
    <label>Team Motto:</label>
    <input name="team[motto]" type="test">
    <br>

    <% 3.times do |i| %>
      <h2>Hero <%=i+1%></h2>
      <label>Hero's name:</label>
      <input id="<%="member#{i+1}_name" %>" name="team[members][][name]" type="text"><br>
      <label>Hero's power:</label>
      <input id="<%="member#{i+1}_power"%>" name="team[members][][power]" type="text"><br>
      <label>Hero's bio:</label>
      <input id="<%="member#{i+1}_bio" %>" name="team[members][][bio]" type="text"><br>
    <% end %>

    <input type="submit" id="submit">
  </form>

<script src="js/script.js"></script>
</body>

</html>